/**
 * @section Base Styles
 */

body {
	// background-image: linear-gradient(-180deg, $accent2 0%, $accent1 98%);
	background-color: $accent1;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	overflow-x: hidden;

	@media print {
		background-color: #fff;
	}
}

.print-container {
	display: none;

	@media screen {
		display: none;
	}

	@media print {
		position: relative;
		display: block;
    width: 1200px;
    margin: 150px auto 0;
	}
}

.print-container__logo {
	@media print {
		position: absolute;
		z-index: 9;
		right: 0;
		bottom: 50px;
	}
}

.recipes-wrapper {
	position: relative;
	margin-bottom: 50px;
	padding: 120px 0 15px;
	// min-height: 100vh;
	box-sizing: border-box;

	@media screen and (min-width: 768px) {
		margin-bottom: 200px;
	}

	@media screen and (min-width: 1200px) {
		margin-bottom: 400px;
	}

	@media print {
		display: none;
	}
}

.recipes-intro {
	font-family: Lato-Regular;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0 15px;
	line-height: 1.5em;

	@media screen and (min-width: 768px) {
		max-width: 600px;
		margin: 0 auto;
		font-size: 18px;

  }
}

.recipes-inner {
	width: 100vw;
	height: 100%;
	margin: 0 0 0 -15px;
}
